<!DOCTYPE html>
<html>

<head>
  <meta name="description" content="District Wise Population Map Bangladesh">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>District Wise Population Map Bangladesh</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.4.0/jquery.maphilight.min.js"></script>
  <script src="data.js"></script>
</head>

<body>
  <div id="app">
        <img src="bangladesh.jpg" alt="Bangladesh Map" width="690" height="870" class="map" usemap="#bangladesh-map">
		<div class="infoblock">
			<h4>জেলার নাম: <span>{{name}}</span></h4>
			<h4>জনসংখ্যা: <span>{{population}}</span></h4>
			<hr/>
			<table>
				<tr>
					<td><div class="green"></div></td><td>&nbsp;</td><td>জনসংখ্যা < {{green}}</td>
				</tr>
				<tr>
					<td><div class="yellow"></div></td><td>&nbsp;</td><td>জনসংখ্যা < {{yellow}}</td>
				</tr>
				<tr>
					<td><div class="red"></div></td><td>&nbsp;</td><td>জনসংখ্যা > {{yellow}}</td>
				</tr>
			</table>
			
			
		</div>
		
		<map name="bangladesh-map">
			<area v-on:mouseover="mouseOver" v-for="district in modifiedDistricts" :title="district.title" :alt="district.alt" :dname="district.title" :dpopulation="district.population" :shape="district.shape" :coords="district.coords" :data-maphilight="district.color" />
		</map>
  </div>
  <script>
  const district = new Vue({
	el: '#app',
	data: {
		name: '',
		population:null,
		title:null,
		districts: districts,
		green: 1500000,
	  	yellow: 2500000,
	},
	methods: {
		mouseOver: function(event) {
			var title = event.target.getAttribute('dname');
			var population = event.target.getAttribute('dpopulation');
			this.name = title;
			this.population = population;
			this.title = tile;
		}
	},
	computed: {
		modifiedDistricts() {
			return this.districts.filter(district => {
				let population = parseInt(district.population.replace(/\,/g, ''), 10);
				if (population <= this.green) {
				district.color = '{"strokeColor":"00800038","strokeWidth":5,"fillColor":"00800038"}';					
				return true
				} else if(population <= this.yellow) {
				district.color = '{"strokeColor":"ffff0005","strokeWidth":5,"fillColor":"ffff0005"}';
				return true
				} else  {
					district.color = '{"strokeColor":"ff000000","strokeWidth":5,"fillColor":"ff000000"}';
				return true
				}
			});
			
		},
	} 
	});
  </script>
  
  <script type="text/javascript">$(function() {
        $('.map').maphilight({
			strokeWidth:3,fillOpacity:0.5, alwaysOn: true,
		}
		);
    });</script>
</body>