.infoblock{
    position: fixed;
    left: 60%;
    top: 50px;
    width: 50%;
}
.infoblock h4{
    font-size: 20px;
    color:#117a8b;
}
.infoblock span{
    color:#333;
}
.infoblock ul{
    list-style: none;
}
.red{
    width: 20px;
    height:20px;
    border-radius: 50%;
    background-color: red;
}
.yellow{
    width: 20px;
    height:20px;
    border-radius: 50%;
    background-color: yellow;
}
.green{
    width: 20px;
    height:20px;
    border-radius: 50%;
    background-color: green;
}
